*.o
*.log
*.cache
*.port
*.global
*.status
*.a
*~
# single files go below
GNUmakefile
src/backend/access/common/objfiles.txt
src/backend/access/gin/objfiles.txt
src/backend/access/gist/objfiles.txt
src/backend/access/hash/objfiles.txt
src/backend/access/heap/objfiles.txt
src/backend/access/index/objfiles.txt
src/backend/access/nbtree/objfiles.txt
src/backend/access/objfiles.txt
src/backend/access/transam/objfiles.txt
src/backend/bootstrap/bootparse.c
src/backend/bootstrap/bootscanner.c
src/backend/bootstrap/objfiles.txt
src/backend/catalog/objfiles.txt
src/backend/catalog/postgres.bki
src/backend/catalog/postgres.description
src/backend/catalog/postgres.shdescription
src/backend/catalog/schemapg.h
src/backend/commands/objfiles.txt
src/backend/executor/objfiles.txt
src/backend/foreign/objfiles.txt
src/backend/lib/objfiles.txt
src/backend/libpq/objfiles.txt
src/backend/main/objfiles.txt
src/backend/nodes/objfiles.txt
src/backend/optimizer/geqo/objfiles.txt
src/backend/optimizer/objfiles.txt
src/backend/optimizer/path/objfiles.txt
src/backend/optimizer/plan/objfiles.txt
src/backend/optimizer/prep/objfiles.txt
src/backend/optimizer/util/objfiles.txt
src/backend/parser/gram.c
src/backend/parser/gram.h
src/backend/parser/objfiles.txt
src/backend/parser/scan.c
src/backend/port/dynloader.c
src/backend/port/objfiles.txt
src/backend/port/pg_sema.c
src/backend/port/pg_shmem.c
src/backend/port/tas.s
src/backend/postmaster/objfiles.txt
src/backend/regex/objfiles.txt
src/backend/utils/fmgroids.h
src/backend/utils/fmgrtab.c
src/backend/utils/probes.h
src/include/catalog/schemapg.h
src/include/dynloader.h
src/include/parser/gram.h
src/include/pg_config.h
src/include/pg_config_os.h
src/include/stamp-h
src/include/utils/fmgroids.h
src/include/utils/probes.h
src/interfaces/ecpg/include/ecpg_config.h
src/interfaces/ecpg/include/stamp-h
src/port/libpgport.a
src/port/libpgport_srv.a
src/port/pg_config_paths.h
src/timezone/objfiles.txt
src/timezone/zic